::ng-deep lib-crt-settings-panel mat-card.crt-panel-scrollable {
  max-height: calc(390px - 32px);
  padding: 0 !important;
  overflow-y: auto;
  scrollbar-width: thin;

  // Add padding to all direct children to maintain spacing
  > * {
    padding: 10px 16px 8px 12px;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}
